@font-face {
  font-family: "rotulona";
  src: url("../../../../assets/fonts/rotulona-hand.ffp.woff2") format("woff2");
}
@font-face {
  font-family: "BebasNeue";
  src: url("../../../../assets/fonts/BebasNeue-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "ArialRonte";
  src: url("../../../../assets/fonts/ARLRDBD.woff2") format("woff2");
}

.containner_socialmedia {
  background-image: url("../../../../assets/image/1x/luisaback.png");
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
}
.containner_socialmedia h1 {
  padding-top: 5vw;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "rotulona", sans-serif;
  font-size: 12vw;
}
.containner_socialmedia h1 span {
  color: #81e2fc;
  text-shadow: 4px 1px 0px #d4f6ff, 6px 4px 0px #007691;
}
.containner_socialmedia h2 {
  padding-left: 11vw;
  padding-right: 11vw;
  display: inline-block;
  text-align: center;
  width: 100%;
  height: auto;
  font-size: 3vw;
  line-height: 3vw;
}

.containner_socialmedia h2 .textfirst {
  color: #ff4cfe;
  font-family: "BebasNeue", sans-serif;
}
.containner_socialmedia h2 .secondtext {
  background-color: #ff4cfe;
  border-radius: 10vw;
  color: #ffffff;
  font-family: "BebasNeue", sans-serif;
}
.containner_socialmedia h2 .therttext {
  color: #ff4cfe;
  font-family: "BebasNeue", sans-serif;
}

.containner_socialmedia h2 .fourthtext {
  color: #ffffff;
  font-family: "BebasNeue", sans-serif;
}

.containner_socialmedia h2 .fivetext {
  color: #ff4cfe;
  font-family: "BebasNeue", sans-serif;
}
.containner_socialmedia h2 .sixtext {
  background-color: #ff4cfe;
  border-radius: 10vw;
  color: #ffffff;
  font-family: "BebasNeue", sans-serif;
}

.containner_socialmedia p {
  color: #ffffff;
  font-size: 2vw;
  text-align: center;
  font-family: "ArialRonte", sans-serif;
}

.containner_socialmedia .parragraf {
  padding-top: 3vw;
  padding-left: 11vw;
  padding-right: 11vw;
}

.containner_socialmedia .img_lu {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 2vw;
}
.containner_socialmedia .img_lu img {
  width: 50%;
  height: 50%;
}

/* .containner_socialmedia .img_lu img {
  transform: translateX(-50%);
  animation: moverMuneca 2s infinite alternate;
}

@keyframes moverMuneca {
  0% {
      transform: translateX(-50%) rotate(0deg);
  }
  100% {
      transform: translateX(-50%) rotate(10deg);
  }
} */

.uiverse {
  font-size: 1.5em;
  font-family: "Arial Rounded MT Bold";
  background-color: #ff4cfe;
  border-radius: 77px 77px 69px 77px;
  color: #fff;
  border-color: #e21bda;
  transition: all 0.7s;
}

.uiverse:hover {
  transition: all 0.7s;
  --duration: 7s;
  --easing: linear;
  --c-color-1: #ff4cfe;
  --c-color-2: #1a23ff;
  --c-color-3: #e21bda;
  --c-color-4: #aa04ce;
  --c-shadow: #ff4cfe;
  --c-shadow-inset-top: #aa04ce;
  --c-shadow-inset-bottom: rgba(255, 250, 215, 0.8);
  --c-radial-inner: #0505e1;
  --c-radial-outer: #36d0df;
  --c-color: #fff;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  outline: none;
  position: relative;
  cursor: pointer;
  border: none;
  display: table;
  border-radius: 24px;
  text-align: center;
  line-height: 1.5;
  color: var(--c-color);
  background: radial-gradient(
    circle,
    var(--c-radial-inner),
    var(--c-radial-outer) 100%
  );
  box-shadow: 0 0 14px var(--c-shadow);
}

.uiverse:before {
  content: "";
  pointer-events: none;
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 24px;
  box-shadow: inset 0 3px 12px var(--c-shadow-inset-top),
    inset 0 -3px 4px var(--c-shadow-inset-bottom);
}

.uiverse .wrapper {
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  overflow: hidden;
  border-radius: 24px;
  text-align: center;
  min-width: 15vw;
  padding: 0px 0;
}

.uiverse .wrapper span {
  display: inline-block;
  position: relative;
  font-size: 2vw;
  z-index: 1;
  padding-left: 3vw ;
  padding-right: 3vw;
}

.uiverse .wrapper .circle {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  filter: blur(var(--blur, 8px));
  background: var(--background, transparent);
  transform: translate(var(--x, 0), var(--y, 0)) translateZ(0);
  animation: var(--animation, none) var(--duration) var(--easing) infinite;
}

.uiverse .wrapper .circle.circle_1,
.uiverse .wrapper .circle.circle_9,
.uiverse .wrapper .circle.circle_10 {
  --background: var(--c-color-4);
}

.uiverse .wrapper .circle.circle_3,
.uiverse .wrapper .circle.circle_4 {
  --background: var(--c-color-2);
  --blur: 14px;
}

.uiverse .wrapper .circle.circle_5,
.uiverse .wrapper .circle.circle_6 {
  --background: var(--c-color-3);
  --blur: 16px;
}

.uiverse .wrapper .circle.circle_2,
.uiverse .wrapper .circle.circle_7,
.uiverse .wrapper .circle.circle_8,
.uiverse .wrapper .circle.circle_11,
.uiverse .wrapper .circle.circle_12 {
  --background: var(--c-color-1);
  --blur: 12px;
}

.uiverse .wrapper .circle.circle_1 {
  --x: 0;
  --y: -40px;
  --animation: circle_1;
}

.uiverse .wrapper .circle.circle_2 {
  --x: 92px;
  --y: 8px;
  --animation: circle_2;
}

.uiverse .wrapper .circle.circle_3 {
  --x: -12px;
  --y: -12px;
  --animation: circle_3;
}

.uiverse .wrapper .circle.circle_4 {
  --x: 80px;
  --y: -12px;
  --animation: circle_4;
}

.uiverse .wrapper .circle.circle_5 {
  --x: 12px;
  --y: -4px;
  --animation: circle_5;
}

.uiverse .wrapper .circle.circle_6 {
  --x: 56px;
  --y: 16px;
  --animation: circle_6;
}

.uiverse .wrapper .circle.circle_7 {
  --x: 8px;
  --y: 28px;
  --animation: circle_7;
}

.uiverse .wrapper .circle.circle_8 {
  --x: 28px;
  --y: -4px;
  --animation: circle_8;
}

.uiverse .wrapper .circle.circle_9 {
  --x: 20px;
  --y: -12px;
  --animation: circle_9;
}

.uiverse .wrapper .circle.circle_10 {
  --x: 64px;
  --y: 16px;
  --animation: circle_10;
}

.uiverse .wrapper .circle.circle_11 {
  --x: 4px;
  --y: 4px;
  --animation: circle_11;
}

.uiverse .wrapper .circle.circle_12 {
  --blur: 14px;
  --x: 52px;
  --y: 4px;
  --animation: circle_12;
}

@keyframes circle_1 {
  33% {
    transform: translate(0px, 40px) translateZ(0);
  }

  66% {
    transform: translate(12px, 94px) translateZ(0);
  }
}

@keyframes circle_2 {
  33% {
    transform: translate(80px, -10px) translateZ(0);
  }

  66% {
    transform: translate(72px, -48px) translateZ(0);
  }
}

@keyframes circle_3 {
  33% {
    transform: translate(60px, 30px) translateZ(0);
  }

  66% {
    transform: translate(12px, 1px) translateZ(0);
  }
}

@keyframes circle_4 {
  33% {
    transform: translate(76px, -30px) translateZ(0);
  }

  66% {
    transform: translate(112px, -20px) translateZ(0);
  }
}

@keyframes circle_5 {
  33% {
    transform: translate(84px, 28px) translateZ(0);
  }

  66% {
    transform: translate(40px, -32px) translateZ(0);
  }
}

@keyframes circle_6 {
  33% {
    transform: translate(28px, -16px) translateZ(0);
  }

  66% {
    transform: translate(76px, -56px) translateZ(0);
  }
}

@keyframes circle_7 {
  33% {
    transform: translate(8px, 28px) translateZ(0);
  }

  66% {
    transform: translate(20px, -60px) translateZ(0);
  }
}

@keyframes circle_8 {
  33% {
    transform: translate(32px, -4px) translateZ(0);
  }

  66% {
    transform: translate(56px, -20px) translateZ(0);
  }
}

@keyframes circle_9 {
  33% {
    transform: translate(20px, -12px) translateZ(0);
  }

  66% {
    transform: translate(80px, -8px) translateZ(0);
  }
}

@keyframes circle_10 {
  33% {
    transform: translate(68px, 20px) translateZ(0);
  }

  66% {
    transform: translate(100px, 28px) translateZ(0);
  }
}

@keyframes circle_11 {
  33% {
    transform: translate(4px, 4px) translateZ(0);
  }

  66% {
    transform: translate(68px, 20px) translateZ(0);
  }
}

@keyframes circle_12 {
  33% {
    transform: translate(56px, 0px) translateZ(0);
  }

  66% {
    transform: translate(60px, -32px) translateZ(0);
  }
}
.uiverses {
  font-size: 1.5em;
  font-family: "ArialRonte";
  background-color: #0093db;
  border-radius: 77px 77px 69px 77px;
  color: #fff;
  border-color: #0093db;
  transition: all 0.7s;
}

.uiverses:hover {
  transition: all 0.7s;
  --duration: 7s;
  --easing: linear;
  --c-color-1: #ff4cfe;
  --c-color-2: #1a23ff;
  --c-color-3: #e21bda;
  --c-color-4: #aa04ce;
  --c-shadow: #ff4cfe;
  --c-shadow-inset-top: #aa04ce;
  --c-shadow-inset-bottom: rgba(255, 250, 215, 0.8);
  --c-radial-inner: #0505e1;
  --c-radial-outer: #36d0df;
  --c-color: #fff;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  outline: none;
  position: relative;
  cursor: pointer;
  border: none;
  display: table;
  border-radius: 24px;
  text-align: center;
  line-height: 1.5;
  color: var(--c-color);
  background: radial-gradient(
    circle,
    var(--c-radial-inner),
    var(--c-radial-outer) 100%
  );
  box-shadow: 0 0 14px var(--c-shadow);
  min-width: 15vw;
}

.uiverses:before {
  content: "";
  pointer-events: none;
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 24px;
  box-shadow: inset 0 3px 12px var(--c-shadow-inset-top),
    inset 0 -3px 4px var(--c-shadow-inset-bottom);
  min-width: 15vw;
}
.uiverses .wrappers {
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  overflow: hidden;
  border-radius: 24px;
  text-align: center;
  min-width: 15vw;
  padding: 0px 0;
}

.uiverses .wrappers span {
  display: inline-block;
  position: relative;
  font-size: 2vw;
  padding-left: 1vw ;
  padding-right: 1vw;
  z-index: 1;
}

.uiverses .wrappers .circle {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  filter: blur(var(--blur, 8px));
  background: var(--background, transparent);
  transform: translate(var(--x, 0), var(--y, 0)) translateZ(0);
  animation: var(--animation, none) var(--duration) var(--easing) infinite;
}

.uiverses .wrappers .circle.circle_1,
.uiverses .wrappers .circle.circle_9,
.uiverses .wrappers .circle.circle_10 {
  --background: var(--c-color-4);
}

.uiverses .wrappers .circle.circle_3,
.uiverses .wrappers .circle.circle_4 {
  --background: var(--c-color-2);
  --blur: 14px;
}

.uiverses .wrappers .circle.circle_5,
.uiverses .wrappers .circle.circle_6 {
  --background: var(--c-color-3);
  --blur: 16px;
}

.uiverses .wrappers .circle.circle_2,
.uiverses .wrappers .circle.circle_7,
.uiverses .wrappers .circle.circle_8,
.uiverses .wrappers .circle.circle_11,
.uiverses .wrappers .circle.circle_12 {
  --background: var(--c-color-1);
  --blur: 12px;
}

.uiverses .wrappers .circle.circle_1 {
  --x: 0;
  --y: -40px;
  --animation: circle_1;
}

.uiverses .wrappers .circle.circle_2 {
  --x: 92px;
  --y: 8px;
  --animation: circle_2;
}

.uiverses .wrappers .circle.circle_3 {
  --x: -12px;
  --y: -12px;
  --animation: circle_3;
}

.uiverses .wrappers .circle.circle_4 {
  --x: 80px;
  --y: -12px;
  --animation: circle_4;
}

.uiverses .wrappers .circle.circle_5 {
  --x: 12px;
  --y: -4px;
  --animation: circle_5;
}

.uiverses .wrappers .circle.circle_6 {
  --x: 56px;
  --y: 16px;
  --animation: circle_6;
}

.uiverses .wrappers .circle.circle_7 {
  --x: 8px;
  --y: 28px;
  --animation: circle_7;
}

.uiverses .wrappers .circle.circle_8 {
  --x: 28px;
  --y: -4px;
  --animation: circle_8;
}

.uiverses .wrappers .circle.circle_9 {
  --x: 20px;
  --y: -12px;
  --animation: circle_9;
}

.uiverses .wrappers .circle.circle_10 {
  --x: 64px;
  --y: 16px;
  --animation: circle_10;
}

.uiverses .wrappers .circle.circle_11 {
  --x: 4px;
  --y: 4px;
  --animation: circle_11;
}

.uiverses .wrappers .circle.circle_12 {
  --blur: 14px;
  --x: 52px;
  --y: 4px;
  --animation: circle_12;
}

.containner_bottons .botton_one {
  display: flex;
  justify-content: end;
}
